<!--<div class="guide_back"></div>-->
<div class="guide_close"></div>
<p class="accept_font1 font-d3">您已成功领取<span id="accept_m">30</span>M流量</p>
<p class="accept_font2 font-h3">流量将于7个工作日到账</p>
<div class="accept_smile"></div>
<div class="accept_recom">
    <p class="accept_recom_text">邀请好友完成注册可以获得抽奖码<br/>参与大奖的抽取 , 成功邀请好友注<br/>册越多获得的抽奖码越多中奖几率<br/>越大.Apple系列大奖在等你!</p>
    <div class="accept_submit font-h2">进入抽奖区</div>
    <!--<p class="accept_skip font-h3">如您已下载一账通,<span class="guide_skip_span">请直接点击跳过</span></p>-->
</div>
<div class="guide_recom">
    <div class="recom_text font-h3">
        <p class="recom_font1">推荐好友注册,拿超级推荐奖励</p>
        <p class="recom_font2">注册时需要填写您的推荐码</p>
    </div>
    <div class="recom_btn guide_recom_btn font-h3">推荐码 <input type="text" class="font-h2" id="accept_code" value="233945" readonly="readonly"/></div>
</div>