<div class="drawCodePage" id="drawPage">
    <div  style="height: 1rem">
        <div id="draw_backPic" class="ad_backPic"></div>
    </div>
    <header class="header">
            <div><p class="header1">您参与了<span id="activity_prize">XX</span>的抽奖活动</p></div>
        <div class="header2">您抽奖的号码是: <span id="dramCode" style="color: red;font-size: 0.5rem">453427</span></div>
    </header>
    <div class="recordBtn"id="recordBotton" ></div>
    <div class="detail">
        <div class="reminder">目前你有&nbsp<span class="residueDegree" id="residueDegree" style="color: red">0</span>&nbsp次领取机会</div>
        <h3>邀请好友，赢抽奖码攻略！</h3>
        <p>1.邀请好友注册完成越多，获得抽奖码越多；</p>
        <p>2.抽奖码越多，中奖机率越大；</p>
        <p>3.每完成一位好友注册均可获得一次抽奖机会；</p>
        <p>完成<span class="red">3</span>个可获得额外的<span class="red">2</span>次奖励,</p>
        <p>完成<span class="red">6</span>个可获得额外的<span class="red">3</span>次奖励,</p>
        <p>完成<span class="red">9</span>个可获得额外的<span class="red">5</span>次奖励,</p>
        <p>完成的好友注册越多,再获得正常的抽奖机会的</br></p>
        <p>同时,还有更多的额外机会的奖励</p>
    </div>
    <div class="task1" id="task1"><span id="invitate" class="invitate">邀请好友</span></div>
    <div class="bottomBox">
        <div class="recommendBox">
            <div class="footerPic">
                <img src="style/images/hand.png" style="width: 1.7rem">
            </div>
            <div class="bot-fel-mend">推荐好友注册，拿超级推荐奖励</div>
            <div class="bot-fel-recomm">注册时需要填写你的推荐码</div>
            <div class="recommend">推荐码 <input type="text" id="accept_code" class="font-h2" value="" readonly="readonly"/>
        </div>
    </div>
</div>

</div>